:root.theme-dark {
  --text-button: #ff0070;
  --button-border: 255, 0, 112;

  --text-logo: #db00ff;
  --shadow-logo: #ff0070;

  --text-accent: #ff0070;
  --text-primary: #000028;
  --text-secondary: #f1b2ce;

  --bg-accent: #ff0070;
  --bg-primary: #000028;

  --bg-hero-image: url("../images/cover-image-dark.png");
}

.theme-dark .header__decoration {
  display: block;
}

@media (prefers-color-scheme: dark) {
  .header__decoration {
    display: block;
  }

  :root {
    --text-button: #ff0070;
    --button-border: 255, 0, 112;

    --text-logo: #db00ff;
    --shadow-logo: #ff0070;

    --text-accent: #ff0070;
    --text-primary: #000028;
    --text-secondary: #f1b2ce;

    --bg-accent: #ff0070;
    --bg-primary: #000028;

    --bg-hero-image: url("../images/cover-image-dark.png");
  }
}
