/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
	--padding: 20px;
	font-family: var(--main-font), sans-serif;
	background-color: var(--bg-primary);
	background-image: var(--bg-hero-image);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	min-height: 200svh;
}

.full-screen {
    min-block-size: 100svh;
	min-inline-size: min(10svw, 100%);
}

/* Шапка */

.logo {
	font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
	font-weight: bold;
	color: var(--text-logo);
	text-shadow: 4px 4px 0 var(--shadow-logo);
}

.title-decor {
    color: var(--text-primary);
	background-color: var(--bg-accent);
}

.header {
	padding: var(--padding);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr min-content 1fr;
	grid-template-areas:
		'nav nav'
		'logo logo'
		'. text';
}

/* Заголовок */

.header__logo {
    margin-left: calc(-1 * var(--padding));
	grid-area: logo;
	justify-self: start;
}

.header__text {
	grid-area: text;
	justify-self: end;
	align-self: center;
	text-wrap: balance;
	font-size: 18px;
	line-height: 1.3;
	font-weight: bold;
	color: var(--text-primary);
}

/* Уголки */

.corners-decoration {
	position: relative;
}

.corners-decoration::before {
	content: '';
	position: absolute;
	top: var(--padding);
	right: var(--padding);
	block-size: 25px;
	inline-size: 25px;
	border: 0 solid var(--text-accent);
	border-block-start-width: 1px;
	border-inline-end-width: 1px;
}

.corners-decoration::after {
	content: '';
	position: absolute;
	bottom: var(--padding);
	left: var(--padding);
	block-size: 25px;
	inline-size: 25px;
	border: 0 solid var(--text-accent);
	border-block-end-width: 1px;
	border-inline-start-width: 1px;
}

/* REC сверху справа */

.header__decoration {
	position: absolute;
	top: var(--padding);
	right: calc(9px + var(--padding));
}

.header__decoration-text {
	text-transform: uppercase;
	color: var(--text-accent);
	font-size: 18px;
	line-height: 1.55em;
}

.header__decoration-text::after {
	content: '';
	display: inline-block;
	margin-block-end: 2px;
	margin-inline-start: 10px;
	block-size: 10px;
	inline-size: 10px;
	border-radius: 50%;
	background-color: var(--text-accent);
	box-shadow: 0 0 5px 2px var(--text-accent);
}

/* Кнопки переключения темы */

.header__theme-menu {
	grid-area: nav;
	justify-self: center;
	align-self: flex-start;
}

.header__theme-menu-list {
	display: flex;
    flex-direction: row;
	align-items: center;
	gap: 10px;
}

.header__theme-menu-button {
	background-color: transparent;
	color: var(--text-button);
	font-size: 18px;
    text-transform: lowercase;
	line-height: 1;
	padding-block: 3px;
	padding-inline: 13px;
	border: 1px solid transparent;
	cursor: pointer;
	outline: none;
	position: relative;
}

.header__theme-menu-button:hover:not(:disabled) {
	border: 1px solid rgba(var(--button-border), 0.4);
}

.header__theme-menu-button:focus-visible::after {
	content: '';
	position: absolute;
	background-color: var(--text-accent);
	left: 0;
	right: 0;
	bottom: -2px;
	block-size: 1px;
	inline-size: 100%;
}

.header__theme-menu-button:disabled {
	cursor: default;
}

.header__theme-menu-button_active {
	border: 1px solid rgba(var(--button-border));
}

/* Основная секция */

.main {
	padding-inline: var(--padding);
	background-color: var(--bg-primary);
	padding-block-start: 60px;
}

.main__section {
	display: grid;
	column-gap: 20px;
    grid-template-columns: 1fr 2fr;
	grid-template-rows: min-content 1fr;
}

.main__section:not(:first-child) {
	margin-block-start: 80px;
}

.main__section-title {
	font-size: 18px;
	line-height: 1.3;
	font-weight: bold;
	color: var(--text-accent);
	margin-block-end: 20px;
}

.main__section-subtitle {
	font-size: 18px;
	line-height: 1.3;
	font-weight: bold;
	color: var(--text-primary);
}

.main__section-subtitle:not(:first-child) {
	margin-block-end: 20px;
}

.main__section-list-item:not(:first-child) {
	margin-block-start: 20px;
}

.main__card-title {
	font-size: 18px;
	line-height: 1.3;
	font-weight: bold;
	color: var(--text-primary);
}

.main__card-title_thin {
	font-weight: normal;
}

.main__card-text {
	margin-block-start: 10px;
	font-size: 18px;
	line-height: 1.3;
	color: var(--text-secondary);
}

/* Ссылка */

.main__card-text > a {
	position: relative;
	text-shadow: 3px 3px 0 var(--bg-accent);
	text-decoration: none;
	outline: none;
}

.main__card-text > a:focus-visible {
	outline: 1px solid var(--text-secondary);
}

.main__card-text > a:hover::after {
	content: '';
	position: absolute;
	background-color: var(--text-secondary);
	left: 0;
	right: 0;
	bottom: -2px;
	block-size: 1px;
	inline-size: 100%;
}

/* Разделы */

#distractions .main__section-list {
    grid-column: 1 / -1;
    display: grid;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
}

#distractions .main__section-list-item {
	margin-block-start: 0;
}

#solutions .main__section-title {
	grid-row: 1 / -1;
}

#gallery .main__section-subtitle {
	grid-column: 1 / -1;
}

/* Галерея */

.main__gallery {
	display: grid;
	gap: 20px;
	margin-block-start: 20px;
	aspect-ratio: 1 / 1;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, min-content);
	grid-column: 1 / -1;
}

.main__gallery-image {
	display: flex;
	margin-block-start: 10px;
}

.main__gallery-image-item {
	width: 100%;
	object-fit: cover;
	object-position: center;
}

/* Позиции изображений */

#sunset {
	grid-area: 1 / 1 / 2 / 3;
}

#ice-cream {
	grid-area: 1 / 3 / 3 / 4;
}

#tape {
	grid-area: 2 / 1 / 4 / 2;
}

#books {
	grid-area: 2 / 2 / 3 / 3;
}

#street {
	grid-area: 3 / 2 / 4 / 4;
}

/* Подвал */

.footer {
	display: grid;
	align-items: center;
	justify-items: center;
	margin-block-start: 60px;
}
