/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  --padding: 20px;
  min-height: 200svh;
  font-family: var(--main-font), sans-serif;
  background-color: var(--bg-primary);
  background-image: var(--bg-hero-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.full-screen {
  min-block-size: 100svh;
  min-inline-size: min(10svw, 100%);
}

/* Шапка */

.logo {
  color: var(--text-logo);
  font-weight: bold;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 4px 4px 0 var(--shadow-logo);
}

.title-decor {
  color: var(--text-primary);
  background-color: var(--bg-accent);
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas:
    "nav nav"
    "logo logo"
    ". text";
  padding: var(--padding);
}

/* Заголовок */

.header__logo {
  grid-area: logo;
  justify-self: start;
  margin-left: calc(-1 * var(--padding));
}

.header__text {
  grid-area: text;
  justify-self: end;
  align-self: center;
  color: var(--text-primary);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
  text-wrap: balance;
}

/* Уголки */

.corners-decoration {
  position: relative;
}

.corners-decoration::before {
  content: "";
  position: absolute;
  top: var(--padding);
  right: var(--padding);
  border: 0 solid var(--text-accent);
  border-inline-end-width: 1px;
  border-block-start-width: 1px;
  block-size: 25px;
  inline-size: 25px;
}

.corners-decoration::after {
  content: "";
  position: absolute;
  bottom: var(--padding);
  left: var(--padding);
  border: 0 solid var(--text-accent);
  border-inline-start-width: 1px;
  border-block-end-width: 1px;
  block-size: 25px;
  inline-size: 25px;
}

/* REC сверху справа */

.header__decoration {
  position: absolute;
  top: var(--padding);
  right: calc(9px + var(--padding));
}

.header__decoration-text {
  color: var(--text-accent);
  font-size: 18px;
  line-height: 1.55em;
  text-transform: uppercase;
}

.header__decoration-text::after {
  content: "";
  display: inline-block;
  margin-inline-start: 10px;
  margin-block-end: 2px;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px var(--text-accent);
  background-color: var(--text-accent);
  block-size: 10px;
  inline-size: 10px;
}

/* Кнопки переключения темы */

.header__theme-menu {
  grid-area: nav;
  justify-self: center;
  align-self: flex-start;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-button {
  position: relative;
  border: 1px solid transparent;
  padding-inline: 13px;
  padding-block: 3px;
  outline: none;
  color: var(--text-button);
  font-size: 18px;
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover:not(:disabled) {
  border: 1px solid rgba(var(--button-border), 0.4);
}

.header__theme-menu-button:focus-visible::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;
  left: 0;
  background-color: var(--text-accent);
  block-size: 1px;
  inline-size: 100%;
}

.header__theme-menu-button:disabled {
  cursor: default;
}

.header__theme-menu-button_active {
  border: 1px solid rgba(var(--button-border));
}

/* Основная секция */

.main {
  padding-inline: var(--padding);
  padding-block-start: 60px;
  background-color: var(--bg-primary);
}

.main__section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr;
  column-gap: 20px;
}

.main__section:not(:first-child) {
  margin-block-start: 80px;
}

.main__section-title {
  align-self: flex-start;
  margin-block-end: 20px;
  color: var(--text-accent);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
}

.main__section-subtitle {
  color: var(--text-primary);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
}

.main__section-subtitle:not(:first-child) {
  margin-block-end: 20px;
}

.main__section-list-item:not(:first-child) {
  margin-block-start: 20px;
}

.main__card-title {
  color: var(--text-primary);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
}

.main__card-title_thin {
  font-weight: normal;
}

.main__card-text {
  margin-block-start: 10px;
  color: var(--text-secondary);
  font-size: 18px;
  line-height: 1.3;
}

/* Ссылка */

.main__card-text > a {
  position: relative;
  outline: none;
  text-decoration: none;
  text-shadow: 3px 3px 0 var(--bg-accent);
}

.main__card-text > a:focus-visible {
  outline: 1px solid var(--text-secondary);
}

.main__card-text > a:hover::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;
  left: 0;
  background-color: var(--text-secondary);
  block-size: 1px;
  inline-size: 100%;
}

/* Разделы */

#distractions .main__section-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / -1;
  gap: 20px;
}

#distractions .main__section-list-item {
  margin-block-start: 0;
}

#solutions .main__section-title {
  grid-row: 1 / -1;
}

#gallery .main__section-subtitle {
  grid-column: 1 / -1;
}

/* Галерея */

.main__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-column: 1 / -1;
  gap: 20px;
  margin-block-start: 20px;
  aspect-ratio: 1 / 1;
}

.main__gallery-image {
  display: flex;
}

.main__gallery-image-item {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Позиции изображений */

#sunset {
  grid-area: 1 / 1 / 2 / 3;
}

#ice-cream {
  grid-area: 1 / 3 / 3 / 4;
}

#tape {
  grid-area: 2 / 1 / 4 / 2;
}

#books {
  grid-area: 2 / 2 / 3 / 3;
}

#street {
  grid-area: 3 / 2 / 4 / 4;
}

/* Подвал */

.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-block-start: 60px;
}

.footer .logo {
  text-shadow: 2px 2px 0 var(--shadow-logo);
}

@media (width < 1024px) {
  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }
}

@media (width < 768px) {
  .page {
    --padding: 10px;
  }

  .logo {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header {
    grid-template-areas:
      "nav nav"
      "logo logo"
      "text text";
  }

  .header__logo {
    margin-left: 0;
  }

  .main {
    padding-block-start: 40px;
  }

  .main__section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .main__section:not(:first-child) {
    margin-block-start: 50px;
  }

  .main__section-title {
    position: initial;
  }

  #distractions .main__section-list {
    display: initial;
  }

  #distractions .main__section-list-item {
    margin-block-start: 20px;
  }

  .main__gallery {
    display: initial;
    grid-column: initial;
    margin-block-start: 0;
    aspect-ratio: initial;
  }

  #gallery .main__section-subtitle {
    margin-block-end: 0;
  }

  .main__gallery-image {
    display: flex;
    margin-block-start: 10px;
  }
}
